# Игнорировать файлы окружения
.env
.env.local

# Игнорировать папки зависимостей
node_modules/
.vscode/
.idea/

# Игнорировать логи и временные файлы
*.log
*.tmp
.DS_Store  # (Mac)

# Игнорировать бинарные файлы (Python)
__pycache__/
*.pyc
